
.col-lg-12
{
    display: flex;
    flex-direction: row;
}
.page-content
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.food-card {
    background-color: #1f2122;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 10px;
  }

  .food-header {
    background-color: #c70050;
    color: #fff;
    padding: 15px;
    text-align: center;
  }

  .food-details {
    padding: 20px;
  }

  .food-details h3 {
    margin-top: 0;
  }

  .food-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .food-item img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .food-footer {
    background-color: #1f2122;
    padding: 15px;
    text-align: center;
  }
p{
    color: rgb(138, 138, 138);

}