.most-popular {
    margin: 4% 0px 0px 0px;
    
  }
 
  

  .heading-section h4 {
    font-style: italic;
    
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    
    
  }

  .col-lg-12 {
    width: 100%;
    
  }

  .col-lg-6 {
    width: 50%;
    
  }

  .col-lg-3,
  .col-lg-6 {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: -2%;
    margin-right: 7%;
    padding-left: 5%;
    
    
  }

  @media only screen and (max-width: 700px)
  {
    .col-lg-3,
  .col-lg-6 {
margin-left: -10.5%;

  }

  .most-popular .item {
    background-color: #1f2122;
    padding: 30px 15px;
    border-radius: 23px;
    margin-bottom: 30px;
  }
}



  
  .item {
    /* background-color: #f9f9f9;
    border: 1px solid #ddd; */
    display: inline-block;
    width: 300px;
    margin-bottom: 20px;
    min-height: 450px;


  }



  
  .item img {
    width: 100%;
    height: 270px;
    border-radius: 5px;
  }

  .item h4 {
padding-top: 10px;
padding-left: 100px;

  }

  .item span {
    font-size: 0.9em;
    
  }

  .item ul {
    list-style: none;
    padding-right: 75px;

  }

  .item li {
    display: inline-block;
    margin-right: 10px;
    color: #555;
    
  }

  .main-button {
    margin-top: 20px;
    
  }

  .main-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ec6090;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }