table {
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1f2122;
    color: #fff;
    font-weight: bold;
}

td {
    background-color: #27292a;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: #523c3c;
}


.main-button{
    margin-left: 32%;
    padding-top: 5%;

}